<h4><%= @list.name %></h4>

<p><strong>Movies</strong></p>
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= bookmark.movie.title %></h5>
    <p class="card-text"><%= bookmark.comment %></p>
    <%= link_to "Delete a movie", bookmark_path(bookmark), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" }
 %>
    </div>
  <% end %>
</div>

<%= link_to "Bookmark a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
<%= link_to "Back to Lists", lists_path, class: "btn btn-primary" %>


<%# <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> %>
